a {
    color: chocolate;
}
div {
    width: 300px;
    height: 100px;
    background: darkblue;
    border: 1px solid purple;
    border-radius: 40px;
    color: yellowgreen;
    text-align: center;
}
#myDiv {
    transform: rotateX(0deg);
    transition-duration: 2s;
}

#myDiv:hover {
    transform: rotateX(125deg);
}

#myDiv2 {
    transform: rotateY(0deg);
    transition-duration: 2s;
}

#myDiv2:hover {
    transform: rotateY(125deg);
}
#myDiv3 {
    transform: rotateZ(0deg);
    transition-duration: 2s;
}

#myDiv3:hover {
    transform: rotateZ(125deg);
}
img {
    transform: rotateX(0deg);
    transition-duration: 2s;
}
img:hover {
    transform: rotateY(125deg);
}